<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
    </head>
    <body>
        <h1>About {{name}}</h1>
        <p>
            DOB:{{dob}}<br />
            Anniversary: {{marriageDate}}
        </p>
        {{> footer}}
    </body>
</html>
